_design_handoff/visual-comparison/main_sudoku_Continue Playing.png
_design_handoff/visual-comparison/main_sudoku_Online duel.png
_design_handoff/visual-comparison/main_sudoku_Print Puzzles.png
_design_handoff/visual-comparison/main_sudoku_Story Mode.png
_design_handoff/visual-comparison/main_sudoku.png
_design_handoff/visual-comparison/main.png
